.body{
    background-color: aqua;
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-rows: 150px 200px 200px 150px;
    /* grid-template-columns: ;*/
   
}

.body div{
    background-color: darkblue;
}

.head{
    grid-area: 1/1/1/4;
}
.b{
    grid-area: 2/2/4/4;
  
}
.foot{
    grid-area: 4/1/4/4;
     
}
